<div class="container" style="margin-left:25px">

    <h2 style="margin-bottom:1.5rem">{{title}}</h2>

    <div class="container" style="margin-bottom:2.3rem;background-color:aliceblue;">
        <p><span style="font-weight:bold;">Name:</span> {{doctor.Doctor.Name}}</p>
        <p><span style="font-weight:bold;">Age:</span> {{doctor.Doctor.Age}}</p>
        <p><span style="font-weight:bold;">Available During Emergency?:</span> {{doctor.Doctor.IsAvailableDuringEmergency ? 'Yes' : 'No'}}</p>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ailment</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="ailment in doctor.Ailments">
                <td>{{ailment.Name}}</td>
            </tr>
        </tbody>
    </table>

    <div style="margin-top:3.5rem" ng-if="doctor.DoctorRatings.length > 0">
        <p style="font-weight:bold;">Average Rating: {{averageRating}}</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Rating</th>
                    <th>Date</th>
                    <th>Title</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="rating in doctor.DoctorRatings">
                    <td>{{rating.Rating}}</td>
                    <td>{{rating.Date | date:'MM/dd/yyyy'}}</td>
                    <td>{{rating.Title}}</td>
                    <td>{{rating.Description}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>